include CONTRIBUTING.adoc
include LICENSE
include README.md

# Add all files from these directory to the archive
graft src/gws/conf

# Including specifice data files
global-include *.pyx *.h

# What we do not want in the archive
global-exclude *.py[cod] .git*
prune __pycache__
